---
title: 
---

<section class="hero diagonal"> <!-- was "hero diagonal" -->
	<div class="container">
		<h2 class="editable">we are <strong> heART </strong> </h2>
		<p class="subtext editable"> connecting curators to what really matters</p> 
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<h1 align="center"> <strong> The Problem </strong> </h1> 
		<br>
		<h2 align="center"> Exhibits Are Supposed to Tell Stories and Start Conversations. </h2> 
		<p> Time and user experience information are valuable resources for museum curators: both are in short supply and absolutely necessary, but curators have no good way to know whether exhibits (and specific pieces of art) cause confusion or spark inspiration in the visitors who experience them. Furthermore, curators have noticed that, due to their busy schedules, there’s a lack of connection between themselves and the museum visitors. </h2> heART is designed to help curators both communicate with visitors and understand their experiences.</p>
		<h1 align="center"> Museums Are Meant to be Experienced, Questioned, and Encountered. </h3> 
		<p> Controlling for exhibit, we interviewed museum visitors to discover what experiencing, questioning, and encountering looked like to them. In doing so we discovered a deeply diverse range of motivations and experiences. Curators at the Williams College Museum of Art "…worry that people who are confused or frustrated aren’t expressing [these emotions]," and wonder if they were able to “find pieces that invoke intriguing ideas and unexpected discussion points.”</p>
		<br>
<h1 align="center"> <strong> The Solution </strong> </h1> <br>
		<p> heART is a mobile platform that allows curators to connect with visitors and easily understand the vast amounts of data being collected by partner projects, WCMA staff, and pre-existing systems. In other words: </p> 
		<h1 align="center"> <strong>heART makes data useful<strong> </h1>
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<!-- see how heART makes data useful --> 
		<h1 align="center"> See heART in Action!! </h1> 
		<br>
		<iframe width="1000" height="700" src="https://www.youtube.com/embed/P4SbEDxzYlU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
	<div style='text-align:center' class="container"> <br> <br> <br>
		<h1 align="center"> Try Our Interactive Prototype </h1> 
		<br>
		<embed align="center" style="zoom:50%" src="/museum-experience/images/digital-mockup.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="600px" height="865px" />
	</div>
</section>

<!--
<section class="diagonal">
	<div class="container">
		<h1 align="center"> Try Our Interactive Prototype </h1> 
		<br>
		<embed src="/museum-experience/images/digital-mockup.pdf" type="application/pdf" width="600px" height="850px" />
	</div>
</section>
-->

<!--
<section class="diagonal alternate">
	<div class="container">
		<h3> exhibits are supposed to tell stories and start conversations. </h3> 
		<p>	time and user experience information are valuable resources for museum curators: </br> 			both are in short supply, and absolutely necessary. </br> curators have no good way to know whether exhibits (and specific pieces of art) cause confusion or spark inspiration in cthe visitors who experience them. Furthermore, curators have noticed that, due to their busy schedules, there’s a lack of connection between themselves and the museum visitors. </h2> <strong> heART </strong> is designed to help curators communicate with visitors and understand their experiences. <br>
<h4> museums are meant to be experienced, questioned, and encountered. </h4> 
	<p> 	controlling for exhibit, we interviewed museum visitors to discover what experiencing, questioning, and encountering looked like to them. in doing so we discovered a deeply diverse range of motivations and experiences. curators curators at the Williams College Museum of Art "…worry that people who are confused or frustrated aren’t expressing this," and wonder if they were able to “find pieces that invoke intriguing ideas and unexpected discussion points.” 
</p> 
	</div>
</section>
-->

<section class="diagonal alternate">
	<div class="container">
		<h1 align="center"> Understand the Process </h1> <br>
	</div>
	<div class="container halves">
		<div>
			<!-- <h3> Learn how heART grew </br> from idea to creation -->
			
			<h2 align="center" class="editable"> create and connect </br> like never before </h2>
			
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/"> with heART museum technology &rarr;</a></p>
			
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 5 %}
					<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<!--
<section class="diagonal alternate">
	<div class="container halves">
		<h1 align="center"> Discover the Process </h1> 
		<div>
			<h3> Learn how heART evolved... </br> from idea to creation
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">See More &rarr;</a></p>
			
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
-->
	
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!--

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/cloudcannon-logo-blue.svg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/jekyll-logo-black-red-transparent.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">the team</h3>
			<p class="editable">As a new agency we get reap the benefits of the latest and greatest. We build our websites with the most up to date technology. This ensures your website is fast, efficient and reliable for many years.</p>
		</div>
	</div> 
</section>
-->
