---
title: 
---

<section class="hero diagonal"> <!-- was "hero diagonal" -->
	<div class="container">
		<h2 class="editable">we are <strong> heART </strong> </h2>
		<p class="subtext editable"> connecting curators to what really matters</p> 
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<h1> Overview </h1> <!-- make this more catchy -->
		<p> Exhibits are supposed to tell stories and start conversations. Curators at the Williams College Museum of Art "…worry that people who are confused or frustrated aren’t expressing this," and wonder if they were able to “find pieces that invoke intriguing ideas and unexpected discussion points.” <br> 
			
<h2> Curators not only have limited feedback on visitor emotions, but even if they had a surplus of information, there would be no time in a curator’s busy schedule to sort through it. They have no good way to know whether exhibits (and specific pieces of art) cause confusion or spark inspiration in the visitors who experience them. Furthermore, curators have noticed that, due to their busy schedules, there’s a lack of connection between themselves and the museum visitors. </h2> </p>
		<h1> heART is designed to help curators communicate with visitors and understand their experiences.  </h1> <br>
	<h2> <p> We have created an application that allows curators to connect with visitors, and easily understand the vast amounts of data being collected by partner projects, WCMA staff, and pre-existing systems. </h2> </p>
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<h1> Overview </h1>
		<p> We have a problem that needs to be fixed... I will dicuss that here and everything will be good!!!!! </p> <br>
		<h1> Solution goes here </h1>
	</div>
</section>

<section class="hero">
	<div class="container">
		<h1> Overview </h1>
		<p> We have a problem that needs to be fixed... I will dicuss that here and everything will be good!!!!! </p> <br>
		<h1> Solution goes here </h1>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!--
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_clients/" class="btn"><strong>&#9998;</strong> manage clients</a></p>
		<ul class="image-grid">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
-->


<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable"> create and connect </br> like never before </h3>
			<p class="editable">  with heART museum technology </p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">view full portfolio &rarr;</a></p>
			
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
<!--

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/cloudcannon-logo-blue.svg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/jekyll-logo-black-red-transparent.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">the team</h3>
			<p class="editable">As a new agency we get reap the benefits of the latest and greatest. We build our websites with the most up to date technology. This ensures your website is fast, efficient and reliable for many years.</p>
		</div>
	</div> 
</section>
-->
